body {
  background-color: rgb(0, 0, 0);
}

#TitreSHT31{
  color: rgb(255, 255, 255);
  padding: 5px 50%;
  font-size: 30px;  
}

#SHT31_Temp, #SHT31_Humid {
  color: rgb(255, 255, 255); 
  padding: 5px 25px; 
  display : inline-block;
  font-size: 30px;
}

#TitreDHT11{
  color: rgb(255, 255, 255);
  padding: 5px 50%; 
  font-size: 30px;  
}

#DHT11_Temp, #DHT11_Humid {
  color: rgb(255, 255, 255);
  display : inline-block; 
  padding: 5px 50%; 
  font-size: 30px;
}

#TitreDistance{
  color: rgb(255, 255, 255);
  padding: 5px 50%; 
  font-size: 30px;  
}

#Distance {
  color: rgb(255, 255, 255);
  padding: 5px 50%; 
  font-size: 30px;
}


#TitreMasse{
  color: rgb(255, 255, 255);
  padding: 5px 50%; 
  font-size: 30px;  
}

#Masse {
  color: rgb(255, 255, 255);
  padding: 5px 50%; 
  font-size: 30px;
}